<div appChildrenList>
  <div *ngIf="show">
    <ng-container *ngFor="let item of list">
      <app-child-component [id]="item"></app-child-component>
      <button (click)="removeItem(item)">Remove item</button>
    </ng-container>
  </div>
</div>

<div style="margin-top:20px">
  <button (click)="addItem()">Add item</button>
  <button (click)="resetList()">Reset list</button>
  <button (click)="showHide()">Show / Hide</button>
</div>
