<card-or-list-view [items]="items" [mode]="'card'">

  <!-- <ng-template cardItem let-item>
    <div>
      <h1>{{item.header}}</h1>
      <p>{{item.content}}</p>
    </div>
  </ng-template> -->

  <!-- Angular syntatical sugar, same as above -->
  <div *cardItem="let item">
    <h1>{{item.header}}</h1>
    <p>{{item.content}}</p>
  </div>

  <li *listItem="let item">
    {{item.header}}: {{item.content}}
  </li>
</card-or-list-view>
