<!-- ng-container directive provides us with an element that we can attach a structural directive to a section of the page, without having to create an extra element just for that. -->
<!-- can also be used as a placeholder for injecting a template dynamically into the page -->
<!-- NgTemplateOutlet is a directive that takes a template reference and context and returns and instantiates it (renders)-->
<ng-container *ngTemplateOutlet="templateRef; context: exampleContext"></ng-container>

<!-- NgTemplate can be used to define custom template. 
  If want to use variables defined in the context object (exampleContext here) we need to explicitly defined them with let-{var_name} syntax
  If we don't asing the variable with some property from the context it will get the $implcit (default) one
-->
<!-- with the ng-template tag we are simply defining a template, but we are not using it yet. (only defining the ng-template won't render anything on the screen) -->
<!-- SCOPE: can access to the same context variables that are visible in the outer template, but can also define own set of input variables (context) -->
<ng-template #templateRef let-default let-other="aContextProperty" let-test="test">
  <div>
    $implicit = '{{default}}' <br>
    aContextProperty = '{{other}}' <br>
    test = '{{test}}'
  </div>
</ng-template>
