/* Want to display focus style on the host component whenever the child input component has focus */

:host {
  padding: 10px;
  border: 1px solid #d3d3d3;
}

:host(.input-focus) {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: 0 0 5px #4d90fe;
  box-shadow: 0 0 5px #4d90fe;
}

div {
  display: inline-block;

}

:host /deep/ input {
  border: none;
  outline: none;
  height: 100%;
  box-sizing: border-box;
}
